###############################################################################                          
{{ ansible_hostname }} is....                                                                            
     ___      .__   __.      _______. __  .______    __       _______                                    
    /   \     |  \ |  |     /       ||  | |   _  \  |  |     |   ____|                                   
   /  ^  \    |   \|  |    |   (----`|  | |  |_)  | |  |     |  |__                                      
  /  /_\  \   |  . `  |     \   \    |  | |   _  <  |  |     |   __|                                     
 /  _____  \  |  |\   | .----)   |   |  | |  |_)  | |  `----.|  |____                                    
/__/     \__\ |__| \__| |_______/    |__| |______/  |_______||_______|                                   
                                                                                                         
.___  ___.      ___      .__   __.      ___       _______  _______  _______                              
|   \/   |     /   \     |  \ |  |     /   \     /  _____||   ____||       \                             
|  \  /  |    /  ^  \    |   \|  |    /  ^  \   |  |  __  |  |__   |  .--.  |                            
|  |\/|  |   /  /_\  \   |  . `  |   /  /_\  \  |  | |_ | |   __|  |  |  |  |                            
|  |  |  |  /  _____  \  |  |\   |  /  _____  \ |  |__| | |  |____ |  '--'  |                            
|__|  |__| /__/     \__\ |__| \__| /__/     \__\ \______| |_______||_______/                             
                                                                                                         
                                                                                                         
################################################################################
