# templates/gitconfig.j2

[user]
  name = {{ user.name }}
  username = {{ user.username }}
  email = {{ user.username }}@ {{ user.domain }}

[core]
  excludesfile = /home/{{ user.username }}/.gitignore