{% if ssh_config_default %}
##  Defaults
{% for key,value in ssh_config_default|dictsort %}
{{ key }} {{ value }}
{% endfor %}
{% endif -%}

{% for cfg in ssh_configs %}
{# I want name, Host and Hostname at top #}
{% if cfg.name|default(false) %}
##  {{ cfg.name }}
{% endif %}
Host {{ cfg.Host }}
{% if cfg.Hostname|default(false) %}
    Hostname {{ cfg.Hostname }}
{% endif -%}

{% for key,value in cfg.items() %}
{% if key == 'name' or key == 'Host' or key == 'Hostname' %}
{# Already configured above so do nothing #}
{% else %}
    {{ key }} {{ value }}
{% endif -%}
{% endfor %}

{% endfor %}