{{ ansible_managed | comment }}

ufw_profiles_list

{% for profile in ufw_profiles_list %}

{% if profile.name is defined %}
[{{ profile.name }}]
{% endif %}

{% if profile.default_backend is defined %}
    default_backend {{ profile.default_backend }}
{% endif %}

{% if profile.default_backend is defined %}
    default_backend {{ profile.default_backend }}
{% endif %}

{% endfor %}